html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f6f5ec; /* Bézs háttérszín */
  color: #f5e6d3;
}

.button {
  background-color: #eae2ca; /* Háttérszín */
  color: #f6f5ec; /* Betűszín */
  border: none; /* Nincs keret */
  padding: 10px 20px; /* Padding a gombokhoz */
  border-radius: 4px; /* Lekerekített sarkok */
  cursor: pointer; /* Kéz ikon a gomb fölött */
  transition: background-color 0.3s ease; /* Animáció a háttérszín változásához */
}

.button:hover {
background-color: #6d3f22; /* Sötétebb árnyalat hover esetén */
}

.button:disabled {
background-color: #ccc; /* Szürke háttér a letiltott gombokhoz */
color: #666; /* Szürke betűszín */
cursor: not-allowed; /* Nem engedélyezett kurzor */
}

.image-container {
  position: relative;
  width: 300px; /* Kép szélessége */
  height: 200px; /* Kép magassága */
  overflow: hidden; /* Elrejti a kép túlnyúló részét */
}

.image-container img {
  position: absolute;
  top: 50%; /* Kép függőleges középre helyezése */
  left: 50%; /* Kép vízszintes középre helyezése */
  width: 300%; /* Kép méretének megnövelése */
  height: auto; /* Arányos magasság */
  transform: translate(-50%, -50%) scale(0); /* Kezdő skála */
  transition: transform 1s ease-in-out; /* Animáció */
}

.image-container img.active {
  transform: translate(-50%, -50%) scale(1); /* Növelés a normál méretre */
}

